html,body,#content {
	height: 100%;
}

body {
	background-color: #FAFAFA;
	font-size: 80%;
}

/*
* ------------------------- HEADER ----------------------------
*/
#header {
	padding: 15px 0;
}

/*
* ------------------------- CONTENT ----------------------------
*/
#content-wrapper {
	background: url("/static/images/bg.png") repeat-y scroll 50% 0
		transparent;
	margin-bottom: 25px; /* Leave enough space for the footer */
}

#content {
	background-color: #FFFFFF;
	border-bottom: 5px solid;
	border-top: 5px solid;
}

/*
* ------------------------- DASHPANEL --------------------------
*/
.dash-panel {
	border-bottom: 5px solid;
	margin: 5px 0;
	padding: 10px;
}

.dash-panel .panel-name {
	border-bottom: 2px dotted;
	margin-bottom: 5px;
	text-indent: 5px;
}

/*
* ------------------------- FOOTER ----------------------------
*/
#footer-wrapper {
	text-align: center;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
}

/*
* ------------------------- NAVIGATION ------------------------
*/
#navigation {
	padding-top: 15px;
}

#navigation ul {
	list-style: none;
	height: 35px;
	margin: 0;
	padding: 0px;
	text-align: center;
}

#navigation li {
	float: left;
	padding: 0;
}

#navigation li ul {
	display: none;
	height: auto;
	margin: 0px;
	position: absolute;
}

#navigation li:hover ul {
	display: block;
}

#navigation li li {
	display: block;
}

#navigation ul li {
	padding: 0 25px 0 0 !important;
}

#navigation ul li:first-child {
	padding: 0px;
}

.nav-link {
	color: #000;
	text-decoration: none;
	font-family: Verdana, sans-serif;
}

/*
* ------------------------- BOOKMARKS -------------------------
*/
.bookmarks-table {
	width: 100%;
	border-collapse: collapse;
}

.bookmark-controls {
	float: right;
	display: none;
}

.bookmarks-table tr:hover .bookmark-controls {
	display: inline;
}

.bookmarks-table .odd-row {
	background-color: #BFEDFF;
}

.bookmarks-table .even-row {
	
}

.bookmark-category-name {
	background-color: #FFFEBF;
}

/*
* ------------------------- FORMS -----------------------------
*/
.form-part {
	display: inline;
	float: left;
}

.form-part-title {
	margin-bottom: 10px;
}

.form-part-title {
	margin-bottom: 10px;
}

.form-part-title h4 {
	margin: 5px auto;
}

.form-submit {
	float: right;
	margin: 15px 30px;
}
/*
* ------------------------- USER ALERTS -----------------------
*/
.alert .dismiss {
	float: right;
}

.alerts-container {
	background-color: #FFFFFF;
}

/*
* ------------------------- QUEUES ----------------------------
*/
.queue-table td,.queue-table th {
	border: 1px solid;
	padding: 5px;
}

/*
* ------------------------- PRIORITY --------------------------
*/
.priority-0 {
	background-color: #FFB7B7;
}

.priority-1 {
	background-color: #FFCEA7;
}

.priority-2 {
	background-color: #FFEBA7;
}

.priority-3 {
	background-color: #DDFFA7;
}

.priority-4 {
	background-color: #A7FFBC;
}

.priority-5 {
	background-color: #A7FFF8;
}

.priority-6 {
	background-color: #A7CAFF;
}

/*
* ------------------------- MISC ------------------------------
*/
.box {
	border: 1px dotted #000000;
	font-family: Avantgarde, sans-serif;
	margin: 10px 20px;
	padding: 10px;
	width: 900px;
}

.clear {
	clear: both;
}

table {
	border-collapse: collapse;
}

td.column-title,th.column-title {
	font-weight: bold;
	vertical-align: top;
	width: 30%;
}

td.column-content,th.column-content {
	width: 70%;
}
