html,body,#content {
	height: 100%
}

/*
* ------------------------- HEADER ----------------------------
*/
#header {
	padding-bottom: 15px;
	border-bottom: black 5px solid;
}

/*
* ------------------------- CONTENT ----------------------------
*/
#content {
	margin-bottom: 50px;
}

.dash-panel {
	border-bottom: 5px black solid;
	margin: 5px 0;
	padding: 10px;
}

/*
* ------------------------- FOOTER ----------------------------
*/
#footer-wrapper {
	text-align: center;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
}

/*
* ------------------------- NAVIGATION ------------------------
*/
#navigation {
	padding-top: 15px;
}

#navigation ul {
	list-style: none;
	height: 35px;
	margin: 0;
	padding: 0px;
	text-align: center;
}

#navigation li {
	float: left;
	padding: 0;
}

#navigation li ul {
	display: none;
	height: auto;
	margin: 0px;
	position: absolute;
}

#navigation li:hover ul {
	display: block;
}

#navigation li li {
	display: block;
}

#navigation ul li {
	padding: 0 25px 0 0 !important;
}

#navigation ul li:first-child {
	padding: 0px;
}

/*
* ------------------------- BOOKMARKS -------------------------
*/
.bookmark-controls {
	float: right;
}

.bookmarks-table {
	width: 100%;
	border-collapse: collapse;
}

.bookmarks-table .odd-row {
	background-color: #BFEDFF;
}

.bookmark-category-name {
	background-color: #FFFEBF;
}