@CHARSET "UTF-8";

.button {
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #F5F5F5;
	padding: 1px 3px;
	color: #121212;
}

.button .with-icon {
	text-indent: 30px;
	display: inline-block;
	background-position: 5px 0px;
	background-repeat: no-repeat;
	padding-right: 5px;
}

.button .tick {
	background-image: url(img/tick.png);
}

.button .cancel {
	background-image: url(img/cancel.png);
}

.button .delete {
	background-image: url(img/delete.png);
}

.button .arrow_up {
	background-image: url(img/arrow_up.png);
}

.button .arrow_down {
	background-image: url(img/arrow_out.png);
}

.button .arrow_out {
	background-image: url(img/arrow_out.png);
}

.button .pencil {
	background-image: url(img/pencil.png);
}

.button .cut {
	background-image: url(img/pencil.png);
}